<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>loginActivity.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>loginActivity.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>loginActivity.check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newlog</servlet-name>
        <servlet-class>loginActivity.newlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logdetails</servlet-name>
        <servlet-class>loginActivity.logdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>loginActivity.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>anyGantt</servlet-name>
        <servlet-class>loginActivity.anyGantt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xlsxexport</servlet-name>
        <servlet-class>loginActivity.xlsxexport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pieChart</servlet-name>
        <servlet-class>loginActivity.pieChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify</servlet-name>
        <servlet-class>loginActivity.modify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forcedNewlog</servlet-name>
        <servlet-class>loginActivity.forcedNewlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newCompany</servlet-name>
        <servlet-class>loginActivity.newCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newModel</servlet-name>
        <servlet-class>loginActivity.newModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCompany</servlet-name>
        <servlet-class>loginActivity.deleteCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteModel</servlet-name>
        <servlet-class>loginActivity.deleteModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newCheck</servlet-name>
        <servlet-class>loginActivity.newCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCheck</servlet-name>
        <servlet-class>loginActivity.deleteCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>loginActivity.test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newlog</servlet-name>
        <url-pattern>/newlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logdetails</servlet-name>
        <url-pattern>/logdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>anyGantt</servlet-name>
        <url-pattern>/anyGantt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xlsxexport</servlet-name>
        <url-pattern>/xlsxexport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pieChart</servlet-name>
        <url-pattern>/pieChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modify</servlet-name>
        <url-pattern>/modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forcedNewlog</servlet-name>
        <url-pattern>/forcedNewlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newCompany</servlet-name>
        <url-pattern>/newCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newModel</servlet-name>
        <url-pattern>/newModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCompany</servlet-name>
        <url-pattern>/deleteCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteModel</servlet-name>
        <url-pattern>/deleteModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newCheck</servlet-name>
        <url-pattern>/newCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCheck</servlet-name>
        <url-pattern>/deleteCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
