.pad{
    padding: 6px 8px;
    text-align: center;
    margin: 10px;
    width: 180px;
    transition-duration: 0.2s;
    border-radius: 3px;
    border: none;
    background-color: #EEEEEE;
}
.pad[type=number]:focus{
    border: 2px solid #555;
}
.pad[type=text]:focus{
    border: 2px solid #555;
}
#banner{
    position: relative;
    height: 150px;
    top: 75px;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
}
#content{
    position: relative;
    top: 75px;
    background: white;
    width: 100%;
    padding: 10px;
    height: 100%;
}

